.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 0;
  padding: 20px 72px;
  background-color: var(--light);
}

.nav {
  justify-self: end;
}

.nav_list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 0;
  list-style: none;
}

.nav_link {
  color: var(--main);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}