.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
}

.intro {
  width: 100vw;
  padding-top: 204px;
  padding-bottom: 298px;
  background-color: var(--40);
  background-image: url(../public/app-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  display: block;
}

.title {
  display: block;
  margin: 12px 0 0 72px;
  color: var(--main);
  text-transform: uppercase;
}

.note {
  margin: 49px 0 0 72px;
  color: var(--main);
}

.button {
  margin: 49px 0 0 72px;
}

.list {
  list-style: circle;
}
