@layer global {
  :root {
    /* --- Color schema --- */
    --light: #f6f6f6;
    --dark: #303030;
    --main: #989397;

    --60: #c3c2c2;
    --40: #e5e3e6;
    --10: #fdfdfd;

    --error: #ee505a;
    --success: #19b28d;
  }
}