* {
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  width: 100%;
  min-width: 1440px;
  overflow-x: hidden;
  background-color: var(--light);
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  margin: 0;
  padding: 20px 72px;
  background-color: var(--light);
}

.nav {
  display: flex;
  justify-self: end;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  margin: 0 40px 0 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: var(--main);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.nav__buttons {
  display: flex;
  gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  border: none;
  padding: 8px 16px;
  color: var(--light);
  background-color: var(--main);
}

.button:disabled {
  color: var(--main);
  background-color: var(--40);
}

.button:focus {
  padding: 7px 79px;
  outline: none;
  border: 1px solid var(--dark);
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--60);
  }
}

.title {
  color: var(--main);
}